# General Config
PORT=5001
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Database
MONGO_URI=mongodb://localhost:27017/medflow

# Security
JWT_SECRET=your_super_secret_jwt_key_here

# AI Symptom Checker (Google Gemini API Key)
GEMINI_API_KEY=your_gemini_api_key_here

# Nodemailer SMTP Configuration (Optional - Fallback to Ethereal Email if blank)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
